<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Detail Project</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      * { font-family: "Poppins", sans-serif; }
      .nav-link:hover{ color: orange;
      } .btn-dark:hover{ background-color: gray; } .btn-secondary:hover{
      background-color: black; } .btn-danger:hover{ background-color: darkred;
    </style>
  </head>
  <body class="bg-body-secondary">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid" style="margin: 0 50px">
        <img
          class="navbar-brand"
          width="50"
          height="40"
          src="/img/brandred.png"
          alt="logo dumbways"
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/add-myproject">Add Project</a>
            </li>
          </ul>
          
            <a href="/contact" class="btn btn-dark fw-semibold" type="submit">
              Contact Me
            </a>
          
        </div>
      </div>
    </nav>
    <!-- EndNavbar -->

    <div class="container py-3">
      <h1>{{data.name}}</h1>
      <p>Author: {{data.author}}</p>
        <p>{{data.startDate}} s/d {{data.endDate}}</p>
        <img src="/uploads/{{data.image}}" alt="">
        <h4 style="margin-top: 20px;">technologies</h4>
        <div class="d-flex gap-4 justify-content-center">
              {{#if data.icons.nodeJs}}
                  <div class="d-flex gap-2">
                      <img src="{{data.icons.nodeJs}}" class="img-icon">
                      <h6>Node Js</h6>
                  </div>
              {{/if}}
              {{#if data.icons.nextJs}}
                  <div class="d-flex gap-2">
                      <img src="{{data.icons.nextJs}}" class="img-icon">
                      <h6>Next Js</h6>
                  </div>
              {{/if}}
              {{#if data.icons.reactJs}}
                  <div class="d-flex gap-2">
                      <img src="{{data.icons.reactJs}}" class="img-icon">
                      <h6>React Js</h6>
                  </div>
              {{/if}}
              {{#if data.icons.typeScript}}
                  <div class="d-flex gap-2">
                      <img src="{{data.icons.typeScript}}" class="img-icon">
                      <h6>TypeScript</h6>
                  </div>
              {{/if}}
            </div>
        <p>{{data.technologies}}</p>
        <p style="text-align: justify; width:700px">{{data.description}}</p>
    </div>
    <script src="../javascript/bootstrap.bundle.min.js"></script>
    </body>