<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
      * { font-family: "Poppins", sans-serif; } .nav-link:hover{ color: orange;
      } .btn-dark:hover{ background-color: gray; } .btn-secondary:hover{
      background-color: black; } .btn-danger:hover{ background-color: darkred; }

    </style>
  </head>
  <body class="bg-body-secondary">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid" style="margin: 0 50px">
        <img
          class="navbar-brand"
          width="50"
          height="40"
          src="img/brandred.png"
          alt=""
        />
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a class="nav-link fw-bold" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-bold" href="/add-myproject">Add Project</a>
            </li>
          </ul>
          {{#if isLogin}}
            <a class="nav-link mx-4">Welcome, {{user.name}}</a>
            <a href="/logout" class="nav-link mx-2">Log Out</a>
          {{else}}
            <a href="/login" class="nav-link mx-2">Log in</a>
            <a href="/register" class="nav-link mx-2">Register</a>
          {{/if}}
          <a
            href="/contact"
            class="btn btn-dark fw-semibold mx-2"
            type="submit"
          >
            Contact Me
          </a>
        </div>
      </div>
    </nav>
    <!-- EndNavbar -->
    {{#if messages.success}}
      <div class="alert alert-success" role="alert">
        <div class="container">
          {{messages.success}}
        </div>
      </div>
    {{/if}}
    <!-- Home -->
    <div
      class="card my-3 mx-auto px-5 py-5"
      style="
        max-width: 1000px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
          0 3px 10px 0 rgba(0, 0, 0, 0.19);
      "
    >
      <div class="row g-0" style="display: flex; justify-content: space-around">
        <div class="col-md-8" style="width: 500px">
          <div class="card-body">
            <h3 class="card-title">Welcome To My Hut!</h3>
            <p class="card-text" style="text-align: justify">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Recusandae cupiditate repudiandae tempore magni hic expedita odio
              consequuntur maxime? Voluptatem, odio laboriosam deleniti maiores
              nobis voluptatibus molestiae repellat minima ab veniam itaque ut
              fugit illum asperiores molestias. Suscipit, commodi aliquid odio
              beatae, quis cumque inventore dolores cupiditate vel expedita
              nobis quas.
            </p>
            <div class="row">
              <div class="col-md-4">
                <a href="" class="contactMe btn btn-dark">Contact Me</a>
              </div>
              <div class="col-md-8" style="margin-top: 8px">
                <a
                  href="#"
                  class="linkDownload link-dark link-underline-opacity-0"
                >Download CV <i class="fa-solid fa-download"></i></a>
              </div>
            </div>
            <div class="icon py-3">
              <i
                style="margin-right: 10px"
                class="fa-brands fa-linkedin fa-xl"
              ></i>
              <i
                style="margin-right: 10px"
                class="fa-brands fa-facebook fa-xl"
              ></i>
              <i
                style="margin-right: 10px"
                class="fa-brands fa-instagram fa-xl"
              ></i>
              <i
                style="margin-right: 10px"
                class="fa-brands fa-github fa-xl"
              ></i>
              <i class="fa-brands fa-whatsapp fa-xl"></i>
            </div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div
            class="card px-3 py-3"
            style="
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                0 3px 10px 0 rgba(0, 0, 0, 0.19);
            "
          >
            <img
              src="/img/DSC_0137 34.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
            <h5 class="card-title" style="margin-top: 10px">
              Febrilania Nur Islami
            </h5>
            <p class="card-text">Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>

    <!-- End Home -->

    {{! my Projects }}
    <div id="content">
      <div class="row mx-auto" style="max-width: 1000px">
        {{#each data}}
          <div class="col-md-4">
            <div class="container d-flex justify-content-center my-5">
              <div
                class="card py-2 px-2"
                style="width: 18rem; max-height:550px"
              >
                <img
                  src="/uploads/{{this.image}}"
                  class="card-img-top"
                  alt="..."
                  style="max-height: 300px;"
                />
                {{! <div class="card-body"> }}
                <h5 class="card-title my-3"><a
                    class="nav-link overflow-hidden"
                    href="/detail-project/{{this.id}}"
                  >{{this.name}}</a></h5>
                <h6 class="card-text">{{this.startDate}}
                  ||
                  {{this.endDate}}</h6>
                <div class="d-flex gap-2 py-1" id="icon">
                  {{#if this.icons.nodeJs}}
                    <img style="width: 30px;" src="{{this.icons.nodeJs}}" />
                  {{/if}}

                  {{#if this.icons.nextJs}}
                    <img style="width: 30px;" src="{{this.icons.nextJs}}" />
                  {{/if}}

                  {{#if this.icons.reactJs}}
                    <img style="width: 30px;" src="{{this.icons.reactJs}}" />
                  {{/if}}

                  {{#if this.icons.typeScript}}
                    <img style="width: 30px;" src="{{this.icons.typeScript}}" />
                  {{/if}}
                </div>
                <p
                  style="text-align: justify; max-height:40px"
                  class="card-text overflow-auto"
                >{{this.description}}</p>
                <form
                  action="/delete-myProject/{{this.id}}"
                  method="post"
                  style="text-align: center;"
                >
                  <a
                    style="width: 8rem;"
                    class="btn btn-secondary"
                    href="update-project/{{this.id}}"
                  >Edit</a>
                  <button
                    class="btn btn-danger"
                    style="width: 8rem;"
                  >Delete</button>
                </form>
                {{! </div> }}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{! end my projects }}

    <script src="javascript/bootstrap.bundle.min.js"></script>
  </body>
</html>